@font-face {
    font-family: 'lantu';
    src: url('../icon/lantu-font-icon/iconfont.eot');
    src: url('../icon/lantu-font-icon/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../icon/lantu-font-icon/iconfont.woff2') format('woff2'),
        url('../icon/lantu-font-icon/iconfont.woff') format('woff'),
        url('../icon/lantu-font-icon/iconfont.ttf') format('truetype'),
        url('../icon/lantu-font-icon/iconfont.svg#lantuiconfont') format('svg');
  }